node_modules
.DS_Store
.env*
.dist
build
coverage
.pnpm-store
.next
.expo
android
ios
dist
.eslintcache

# Turborepo cache
.turbo/

# Local env
.env.local
*.env
-q ^*.env.* .gitignore || echo *.env.* >> .gitignore.env.example
